body{
    background-color: black;
}

.contenedor{
    width: 292px;
    margin: 50px auto;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    background-color: #466cda;
}

input[type="button"]{
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
    font-style: italic;
    border: 2px solid white;
    color: #466cda;
}

input[type="text"]{
    height: 80px;
    width:  275px;
    margin: 5px;
    font-size: 35px;
    background-color: white;
    color: #466cda;
    text-align: center;
    font-style: italic;
}